@import url('https://fonts.googleapis.com/css2?family=Anton&family=Belanosima:wght@700&family=Black+Ops+One&family=Handjet:wght@600&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Belanosima:wght@700&family=Black+Ops+One&family=Handjet:wght@600&family=Passion+One:wght@400;700;900&family=Sedgwick+Ave+Display&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family:  sans-serif;
  color: white;
  letter-spacing: 2px;
  box-sizing: border-box;
}

.showcase11{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}
.logo{
  margin-left: 30px;
  font-size: 30px;
  letter-spacing: 6px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Belanosima', sans-serif ;

}

.loggo{
  width: 124PX;
}
.overlay{
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: lightblue;
  mix-blend-mode: overlay;
  z-index: -1;
} 
.overlay2{
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: lightblue;
  mix-blend-mode: overlay;
  z-index: -1;
  display: none;
} 
.backvid2{
  width: 100%;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}
.backvid{
  width: 100%;
  z-index: -2;
  position: absolute;
  object-fit: cover;
  height: 100%;
  left: 0;
  top: 0;
}

.discord{
  border: 5px solid double;
  width: 500px;
  height: 500px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  z-index: 3;
  border-radius: 25px;
  background-image: linear-gradient(180deg,#182e75, #0f1113);
  
}

.Tiktok{
  width: 500px;
  height: 500px;
  border-radius: 25px;
  background-color: black;
  padding: 20px;
  position: relative;
  background-image: linear-gradient(0deg,#380012, #000000);
  justify-content: center;
    display: block;
    margin: auto;
    text-align: center;
}

.Youtube{
  width: 500px;
  height: 500px;
  border-radius: 25px;
  padding: 20px;
  position: relative;
  background-image: linear-gradient(180deg,#8b0000, #500068);
  justify-content: center;
    display: block;
    margin: auto;
    text-align: center;
}

.allelements{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-flow: wrap;
}

.allelements div{
margin: 20px;
display: block;
}

.discord1{
  width: 150PX;
  display: block;
  margin: auto;
  
}

.tiktok1{
  width: 150PX;
  display: block;
  margin: auto;
}

.youtube1{
  width: 150px;
  padding: 0;
  display: block;
  margin: auto;
}

button{
  padding: 15px 50px;
  color: black;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

h2{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 1000;
  text-align: center;
}

h3{
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 1000;
  text-align: center;
}

.tikbut{
  margin-left: 110px;
  margin-top: 80px;
  background-color: #ff0050;
  color: #00f2ea;
  font-weight: 1000;
  text-transform: uppercase;
  transition: 0.2s;
}

.tikbut:hover{
  background-color: #00f2ea;
  color: #ff0050;
}

.disbut{
  margin-left: 100px;
  background-color: 	#7289da;
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: 1000;
  color: white;
  transition: 0.2s;
}

.disbut:hover{
  background-color: white;
  color: #7289da;
}

.subut{
  margin-left: 100px;
  margin-top: 50px;
  font-weight: 1000;
  text-transform: uppercase;
  color: #6e0d25;
  background-color: #40e0d0;
  transition: 0.2s;
}

.subut:hover{
  color: #40e0d0;
  background-color: #ff0050;
}

@media (max-width: 1440px){
  .Tiktok{
    width: 400px;
    height: 500px;
}
.Youtube{
  width: 400px;
    height: 500px;
}
.discord{
  width: 400px;
    height: 500px;
}
.tikbut{
  margin-left: 0px;
}
.disbut{
  margin-left: 0px;
}
.subut{
  margin-left: 0px;
  margin-top: 10px;
}
.allelements div button{
  border-radius: 30px;
  padding: 20px 60px;
}
.Youtube{
  justify-content: center;
  display: block;
  margin: auto;
  text-align: center;
}
.discord{
  justify-content: center;
  display: block;
  margin: auto;
  text-align: center;
}
.Tiktok{
  justify-content: center;
  display: block;
  margin: auto;
  text-align: center;
}
}
@media (min-width: 2560px){
  body{
    padding: 200px;
  }
  .allelements div{
    width: 30%;
    height: 700px;
  }
  .allelements div h2{
    font-size: 3em;
  }
  .allelements div h3{
    font-size: 1.8em;
  }
  .allelements div button{
    padding: 35px 70px;
    font-size: 1.8em;
    border-radius: 60px;
  }
  .disbut{
    margin-left: 0px;
    margin-top: 100px;
  }
  .logo{
    font-size: 4em;
  }
  .loggo{
    width: 224PX
  }
  .subut{
    margin-left: 0px;
    margin-top: 30px;
  }
  .tikbut{
    margin-top: 135px;
    margin-left: 0px;
  }
  .Youtube{
    justify-content: center;
    display: block;
    margin: auto;
    text-align: center;
  }
  .discord{
    justify-content: center;
    display: block;
    margin: auto;
    text-align: center;
  }
  .Tiktok{
    justify-content: center;
    display: block;
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 1024px){
  .allelements div{
    width: 29%;
    height: 450px;
  }
  .allelements div h2{
    font-size: 1em;
    margin-bottom: 10px;
  }
  .allelements div h3{
    font-size: 0.9em;
  }
  .allelements div button{
    padding: 20px 30px;
    font-size: 0.9em;
    border-radius: 30px;
  }
  .tikbut{
    margin-left: 0px;
  }
  .disbut{
    margin-left: 0px;
    margin-top: 40px;
  }
  .subut{
    margin-left: 0px;
    margin-top: 60px;
  }
    .Youtube{
    justify-content: center;
    display: block;
    margin: auto;
    text-align: center;
  }
  .discord{
    justify-content: center;
    display: block;
    margin: auto;
    text-align: center;
  }
  .Tiktok{
    justify-content: center;
    display: block;
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 768px){
  .allelements div{
    width: 44%;
    height: 280px;
  }
  .allelements div h2{
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  .allelements div h3{
    font-size: 0.7em;
  }
  .allelements div button{
    padding: 15px 35px;
    font-size: 0.9em;
    border-radius: 30px;
  }
  .tikbut{
    margin-top: 15px;
    margin-left: 0px;
  }
  .disbut{
    margin-top: 10px;
  }
  .subut{
    margin-top: 15px;
  }
  .tiktok1, .discord1, .youtube1{
    width: 100px;
  }
  
  .discord{
    justify-content: center;
    display: block;
    margin: auto;
    text-align: center;
  }
  .Tiktok{
    justify-content: center;
    display: block;
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 425px){
  .allelements div{
    width: 80%;
    margin-top: -10px;
    margin-left: 10%;
  }
  .backvid2{
    display: block;
    top: 220px;
    z-index: -1;
  }
  .overlay2{
    display: block;
    z-index: -1;
    top: 220px;
  }
  .logo{
    font-size: 2em;
    margin: 0;
    margin-top: 0;
  }
  .loggo{
    width: 100px;
  }
}
@media (max-width: 375px){
  .loggo{
    width: 80px;
  }
  .logo{
    font-size: 1.7em;
    margin: 0;
    margin-top: 0;
  }
}
@media (max-width: 375px){
  .loggo{
    width: 60px;
  }
  .logo{
    font-size: 1.2em;
    margin: 0;
    margin-top: 0;
  }
  .allelements div{
    width: 90%;
    margin-top: -10px;
    margin-left: 10%;
    height: 300px;
  }
  .allelements div button{
    font-size: 0.8em;
    margin-top: 20px;
  }
}
@media (max-width: 320px){
  .loggo{
    width: 60px;
  }
  .logo{
    font-size: 1.2em;
    margin: 0;
    margin-top: 0;
  }
  .allelements div{
    width: 90%;
    margin-top: -10px;
    margin-left: 10%;
    height: 300px;
  }
  .allelements div button{
    font-size: 0.7em;
    margin-top: 20px;
  }
}